<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="/assets/img/pngegg.png" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
          doloremque assumenda cum exercitationem obcaecati alias ipsum
          repellendus, doloribus voluptatibus eveniet nemo, commodi accusamus
          velit sapiente unde fugiat veritatis modi placeat!
        </p>
      </div>
      <div class="col">
        <img src="/assets/img/pngegg.png" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
          doloremque assumenda cum exercitationem obcaecati alias ipsum
          repellendus, doloribus voluptatibus eveniet nemo, commodi accusamus
          velit sapiente unde fugiat veritatis modi placeat!
        </p>
      </div>
      <div class="col">
        <img src="/assets/img/pngegg.png" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
          doloremque assumenda cum exercitationem obcaecati alias ipsum
          repellendus, doloribus voluptatibus eveniet nemo, commodi accusamus
          velit sapiente unde fugiat veritatis modi placeat!
        </p>
      </div>
    </div>
  </div>
</section>
